body {
    color: black;
    display: grid;
    justify-content: center;
    justify-items: center;
    background: url(/src/img/sunny.jpg) no-repeat center fixed;
    background-size:cover;
}

.sunny {
    background: url(/src/img/sunny.jpg) no-repeat center fixed;
    background-size:cover;
}

.night {
    background: url(/src/img/night.jpg) no-repeat center fixed;
    background-size:cover;
    color: black
}
.result {
    display: grid;
    background-color: white;
}

.result > div {
    margin: 10px;
}